.docinsightSections {
  flex: 1;
}
.pdfSection {
}
.chatSection {
}

@media screen and (max-width: 767px) {
  .docinsightSections {
    /* height: 50%; */
  }
  .pdfSection {
    flex: unset;
    padding-top: 65px;
    height: 105px;
  }
  .chatSection {
  }
}
